
.mural {
  width: 900px;
  background-color: #ddd;
  margin: 0 auto; /* Centraliza o mural na tela */
    text-align: center;

 
}

.foto {
  display: inline-block;
  width: 250px;        /* Largura inicial */
  padding: 20px;       /* Preenchimento interno */
  border: 5px solid;   /* Moldura externa */
  background: white;
  margin: 0 auto;
  box-sizing: border-box;
 
}

.foto img { 
  width: 100%; 
 height: 100px;
}